@import './utilities';
@import './functions';


.cart_container{
    min-height: calc(100vh - 12em);
    width: 80%;
    margin: auto;
     & h1{
        @include font-size($dfb, $mfb);
     }
}

.cart_container.full{
    @include display-flex(column, flex-start);
    align-items: flex-start;
    & h1{
        text-align: left;
     }
}

.cart_container.empty {
    @include display-flex(column, center);
    align-items: center;
     & h1{
        text-align: center;
     }
     & img{
         margin-bottom: 3em;
     }
     & div::after{
        display: none;
     }
}

.products_container{
    @include display-flex(column, flex-start);
    border: black 2px solid;
    width: 100%;
        & span{
            border-bottom: black 2px solid;
            width: 100%;
            @include display-flex(column, center);
                & div{
                    max-height: 100%;
                    height: 100%;
                }
                & .product_image{
                    height: 100%;
                    @include display-flex(row, space-between);
                    padding-bottom: 1em;
                    & img{
                        max-width: 50%;
                        max-height: 100%;
                        padding: 0 0 0 1em ;
                        box-sizing: border-box;
                    }
                    & div{
                       margin: 0 auto 0 1em;
                    }
                }
                & .products_description{
                    @include display-flex(row, space-between);
                    width: 100%;
                    padding: 1em;
                    box-sizing: border-box;
                    & h2 {
                        margin: 0;
                        @include font-size($dfm,$mfm);
                    }
                     & p {
                        margin: 0;
                        @include font-size($dfm,$mfm);
                    }
                }
                & .delete_product{
                    @include display-flex(row, flex-start);
                    width: 100%;
                    padding: 0 1em 1em 1em;
                    box-sizing: border-box;
                }
        }
        & span:last-child{
            border: 0;
        } 
}

@media only screen and (max-width: 901px) {
    .cart_container h1{
        margin: 3rem 0 3rem 0;
    }
    .cart_container.empty{
        & img{
            margin-bottom: 3em;
            max-width: 70%;
        }
        & div{
            margin-bottom: 3em;
         }
    }
}


@media only screen and (min-width: 901px) {
    .cart_container h1{
        margin: 6rem 0 3rem 0;
    }
    .cart_container.empty{
        & img{
            margin-bottom: 3em;
            max-width: 20%;
        }
        & div{
            margin-bottom: 6rem;
         }
    }
}
