@import './functions';
@import './utilities';


    .custom_select{
        position: relative;
            & .category_plate{
                margin: 0;
                padding: 0;
                border: 0;
                @include display-flex(row, center);
                cursor: pointer;
                border: 2px black solid;
                box-sizing: border-box;
                position: relative;
                background-color: white;
                
                &::after{
                    content: "";
                    background-color: $base-color;
                    width: 100%;
                    height: 100%;
                    top: -7px;
                    left: -7px;
                    position: absolute;
                    z-index: -1;
                }

                & i {
                    transition: 200ms linear;
                }

                & i.true {
                    transform: rotate(180deg);
                }

            }
        
            & div {
                position: absolute;
                width: 16em;
                overflow-y: scroll;
                display: none;
                top: 0;
                opacity: 0;
                transition: all 0.4s;
                overflow: hidden;
                max-height: 0;
                display: block;
                z-index: 888;
                border: #f1f1f1 2px solid;
                border-right: none;
                    & label{
                        max-width: 100%;
                        @include display-flex( row, space-between);
                        position: relative;
                        padding: 1em;
                        background-color: white;
                            &:hover{
                                background-color: rgb(255, 251, 195);
                            }

                            & input{
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                opacity: 0;
                                margin: 0;
                            }
                    }
            }

            div.true{
                max-height: 300px;
                opacity: 1;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 0.4em;
                    height: 0.4em;
                   }
                   &::-webkit-scrollbar-thumb {
                    background-color: $base-color;
                   }
                   &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                  }
                
            }

        }


@media only screen and (max-width: 901px) {
    .category_plate_options{
        margin-top: 4rem;
            & label {
                min-height: 2em;
            }
    }
    .category_plate{
        width: 8em;
        height: 2.5em;
    }
    .category_font{
        font-size: $dfm;
    }    
}

@media only screen and (min-width: 901px) {
    .category_plate_options{
        margin-top: 5rem;
            & label {
                min-height: 2em;
            }
    }
    .category_plate{
        width: 11em;
        height: 3em;
    }
    .category_font{
        font-size: $mfm;
    }
}
