@import './functions';
@import './utilities';

.image_test{
    height: auto;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: calc(100vh - 6em);
         & div{
            height: 100%;
            width: 100%;
            position: absolute;
            @include display-flex(row, center);
                & span {
                        border: 5px solid #f3f3f3;
                        border-radius: 50%;
                        border-top: 5px solid $base-color;
                        width: 90px;
                        height: 90px;
                        -webkit-animation: spin 2s linear infinite; /* Safari */
                        animation: spin 2s linear infinite;
                }
            }
        & .hide{
            width: 0;
            height: 0;
            opacity: 0;
            display: none;
            }
}

.social-media{
    @include display-flex(column, center);
    margin-right: 2rem;
        & img{
            width: auto;
             &:hover{
                 transform: translateY(-2px);
                 cursor: pointer;
             }
        }
}

.social-media-and-description{
        position: relative;
        animation-duration: 1.4s;
        animation-name: slidein;
        & .description {
            & h1{
                @include font-size($dfb, $mfb);
                margin: 1rem 0;
                max-width: 20em;
            }
            & h2 {
                @include font-size($dfm, $mfm);
                font-weight: 500;
                margin: 0 0 2rem 0;
                max-width: 30em;
            }
        }
}

@media only screen and (max-width: 901px) {
    .social-media-and-description{
        width: 80%;
        margin: 2em auto;
        @include display-flex(column, center);
        align-items: flex-start;
    }
    .social-media{
        margin-top: 3rem;
        position: absolute;
        top: 100%;
            & img{
                height: 1.8em;
                margin-bottom: 0.8em;
            }
    }
    .home_offers{
        display: none;
    }
    .mobile_bg_container{
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin-top: 5em;
            & img{
                max-width: 100%;
                height: auto;
                animation-duration: 2s;
                animation-name: slidein2;
            }
    }
}

@media only screen and (min-width: 901px) {

    .clip{
        background-image: url('../images/paw.png');
        background-repeat: no-repeat;
        background-position: 100% 100%;
        opacity: 0;
        background-size: 100%;
        width: 20em;
        height: 20em;
        position: fixed;
        z-index: -5;
        filter: opacity(0.2);
        animation-duration: 2s;
        animation-name: opacit;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    .clippy1{
        left: 20%;
        top: 60%;
        transform: rotate(30deg);
    }
    .clippy2{
        right: 20%;
        top: 20%;
        transform: rotate(-30deg);
    }
    
    .social-media-and-description{
        margin: 5em auto 2em 14%;
        @include display-flex(row-reverse, center);
    }
    .social-media{
        & img{
            height: 2em;
            margin-bottom: 1em;
        }
    }
    .home_offers{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
            & div:nth-child(1){
                margin-bottom: 2em;
            }
            & div:nth-child(2){
                margin-bottom: 7em;
            }
           .offer_in_homepage:nth-child(odd) {
            margin-left: auto;
            animation-duration: 1.4s;
            animation-name: slidein2;
           }
           .offer_in_homepage:nth-child(even) {
            margin-right: auto;
            animation-duration: 1.4s;
            animation-name: slidein;
           }
    }
    .offer_in_homepage{
        display: flex;
        justify-content: center;
        align-items: center;
            .image_holder{
                max-width: 22rem;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 1;
                    & div{
                        position: absolute;
                        background-color: black;
                        height: 3em;
                        width: 3em;
                        border-radius: 50px;
                        color: white;
                        margin: 0;
                        transition: 100ms linear;
                        @include display-flex(row, center);
                            & i {
                                border-radius: 50px;
                                transition: 300ms linear;
                            }
                    }
                    & div:hover{
                            & i {
                                transform: rotate(180deg);
                            }
                            background-color: $base-color;
                    }
                    & img {
                        max-width: 100%;
                        height: auto;
                        z-index: 2;
                    }
                    &::before{
                        content: "";
                        width: 100%;
                        
                        height: 70%;
                        bottom: 0;
                        position: absolute;
                        background-color: $base-color;
                        box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
                    }
            }
            & p{
                padding: 1em;
                margin: 0;
                max-width: 15em;
                font-weight: 600;
                font-size: $mfmx2;
                position: relative;
                transform: translateY(4rem);
                z-index: 1;
                    & span{
                        height: 100%;
                        width: 5.2em;
                        display: block;
                        position: absolute;
                        top: 0;
                        background-color: white;
                        z-index: -1;
                    }
            }
            
    }
    .offer_in_homepage:nth-child(odd) {
        flex-direction: row-reverse;
            & .image_holder{
                & div {
                    left: -14em;
                    top: 8em;
                    transform: rotate(180deg);
                }
                &::before{
                    right: 30%;
                    box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
                }
            }
            & p {
                text-align: right;
                    & span{
                        right: 0;
                    }
            }
       }
    .offer_in_homepage:nth-child(even) {
        flex-direction: row;
            & .image_holder{
                & div {
                    top: 8em;
                    right: -13em;
                }
                &::before{
                    left: 30%;
                    box-shadow: -22px 22px 5px -10px rgba(0, 0, 0, 0.336);
                }
            }
            & p {
                & span{
                    left: 0;
                }
            }
       }
    .mobile_bg_container{
        display: none;
    }
}


@media only screen and (min-width: 1401px) {

    .social-media-and-description{
        margin: 6em auto 3em 14%;
        @include display-flex(row-reverse, center);
    }
    .home_offers{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .offer_in_homepage{

            .image_holder{
                max-width: 25rem;
                    & div{
                        height: 4em;
                        width: 4em;
                    }
            }
            & p{
                padding: 1em;
                margin: 0;
                font-size: $mfmx3;
                transform: translateY(5rem);
                & span{
                    width: 5.5em;
                }
            }
    }
    .offer_in_homepage:nth-child(even) {
        & .image_holder{
            & div {
                top: 8em;
                right: -16em;
            }
        }
    }
    .offer_in_homepage:nth-child(odd) {
        & .image_holder{
            & div{
             left: -18em;
            top: 8em;   
            }
        }
    }

}


@keyframes slidein {
    from {
     transform: translateX(-30%);
     opacity: 0;
    }
  
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }

  @keyframes opacit {
    from {
     opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

  @keyframes slidein2 {
    from {
     transform: translateX(30%);
     opacity: 0;
    }
  
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }
  