@import './functions';
@import './utilities';

.social-media{
    @include display-flex(column, center);
    margin-right: 2rem;
        & img{
            width: auto;
             &:hover{
                 transform: translateY(-2px);
                 cursor: pointer;
             }
        }
}

.social-media-and-description{
        position: relative;
        & .description {
            & h1{
                @include font-size($dfb, $mfb);
                margin: 1rem 0;
                max-width: 20em;
            }
            & h2 {
                @include font-size($dfm, $mfm);
                font-weight: 500;
                margin: 0 0 2rem 0;
                max-width: 30em;
            }
        }
}


@media only screen and (max-width: 901px) {
    .social-media-and-description{
        width: 80%;
        margin: 2em auto;
        @include display-flex(column, center);
        align-items: flex-start;
    }
    .social-media{
        margin-top: 3rem;
        position: absolute;
        top: 100%;
            & img{
                height: 1.8em;
                margin-bottom: 0.8em;
            }
    }
    .home_offers{
        display: none;
    }
    .mobile_bg_container{
        width: 100%;
        display: flex;
        justify-content: flex;
        margin-top: 5em;
            & img{
                max-width: 100%;
            }
    }
}

@media only screen and (min-width: 901px) {

    .clip{
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        background-color: #eebb391a;
        position: absolute;
        width: 20em;
        height: 20em;
        position: absolute;
        z-index: -5;
    }

    .clippy1{
        left: 20%;
        top: 30%
    }
    .clippy2{
        right: 10%;
        top: 50%;
    }
    
    .social-media-and-description{
        margin: 5em auto 5em 14%;
        @include display-flex(row-reverse, center);
    }
    .social-media{
        & img{
            height: 2em;
            margin-bottom: 1em;
        }
    }
    .home_offers{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
           .offer_in_homepage:nth-child(odd) {
            margin-left: auto;
           }
           .offer_in_homepage:nth-child(even) {
            margin-right: auto;
           }
    }
    .offer_in_homepage{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
            .image_holder{
                max-width: 22rem;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                    & img {
                        max-width: 100%;
                        height: auto;
                        box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
                    }
                    &::before{
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: $base-color;
                        z-index: -4;
                    }
            }
            & p{

                padding: 1em;
                max-width: 15em;
                font-weight: 600;
                font-size: $mfmx2;
                position: relative;
                z-index: 1;
                    & span{
                        height: 100%;
                        width: 3.3em;
                        display: block;
                        position: absolute;
                        top: 0;
                        background-color: white;
                        z-index: -1;
                    }
            }
            
    }
    .offer_in_homepage:nth-child(odd) {
        flex-direction: row-reverse;
            & .image_holder{
                &::before{
                    right: 30%;
                    top: -10%;
                }
                & img {
                    box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
                }
            }
            & p {
                margin-right: 1em ;
                text-align: right;
                    & span{
                        right: 0;
                    }
            }
       }
    .offer_in_homepage:nth-child(even) {
        flex-direction: row;
            & .image_holder{
                &::before{
                    left: 30%;
                    top: -10%;
                }
                & img {
                    box-shadow: -22px 22px 5px -10px rgba(0, 0, 0, 0.336);
                }
            }
            & p {
                margin-left: 1em ;
                & span{
                    left: 0;
                }
            }
       }

    .mobile_bg_container{
        display: none;
    }
}


@media only screen and (min-width: 1401px) {

    .social-media-and-description{
        margin: 8em auto 8em 14%;
        @include display-flex(row-reverse, center);
    }
    .home_offers{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .offer_in_homepage{
        margin-bottom: 10rem;
            .image_holder{
                max-width: 30rem;
            }
            & p{
                padding: 1.5em;
                & span{
                    width: 4.7em;
                }
            }
            
    }
}
