.offers_container{
    @include display-flex( column, flex-start );
    align-items: flex-start;
    min-height: calc(100vh - 11.6em);;
    max-width: 80%;
    margin: 0 auto;
    box-sizing: border-box;

        & .category_button{
            margin: 6em 0;
        }

}


@media only screen and (max-width: 901px) {

    .offers_container{
      .category_button{
        margin: 3em 0;
        }    
    }
    

}


@media only screen and (min-width: 901px) {

    .offers_container{
        .category_button{
          margin: 6em 0;
          }    
      }

}
