@import "./utilities";
@import "./functions";


body, html{
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view{
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu{
    max-width: 100%;
    height: 6em;
    padding: 0;
    top: 0;
    position: sticky;
    @include display-flex(row, space-between);
    background-color: $base-color;
    border-bottom: 2px black solid;
    z-index: 999;
        .logo-container{
            height: 100%;
            width: auto;
            & img{
                width: auto;
                height: 80%; 
            }
        }
        
        ul{
            @include display-flex(row, center);
            min-width: 32em;
            height: 100%;
            padding-left: 1em;
            margin:0;
                li{
                    width: auto;
                    list-style: none;
                    margin: auto;
                    transition: linear 200ms;
                    &:hover{
                        padding-bottom: 0.3em;
                    }
                   a{
                            text-decoration: none;
                            color: black;
                            @include font-size( $dfm, $mfm );
                            font-weight: 500;
                        }
                }
        }   
        @import './burger';

        .cart{
            @include display-flex( row, space-around );
            height: 100%;
            width: 4em;
            font-weight: 500;
            @include font-size( $dfm, $mfm );
        }

}

.footer{
    max-width: 100%;
    height: auto;
    padding: 1em 0;
    @include display-flex(column, center);
    background-color: $base-color;
    border-top: 2px black solid;
        & p{
            @include font-size($dfs, $mfs);
            margin: 0.5em 0;
        }
}

@media only screen and (max-width: 901px) {
    .menu{
        .logo-container{
            @include display-flex( row, center )
        }
        .cart{
            margin-right: 1em ;
        }
    }
}

@media only screen and (min-width: 901px) {
  .menu{
     & .logo-container{
         position: relative;
         height: 100%;
        & img{
            position: absolute;
            bottom: -4.5em;
            height: 9em;
        }
      }
      .cart{
        margin-right: 2em ;
    }
  }
}

@import './home';