body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

#root {
  min-height: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.home_container {
  height: auto;
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App {
  min-width: 100%;
  margin-top: 6em;
  scroll-behavior: smooth;
}

.hidden_form {
  height: 0;
  width: 0;
}

.menu {
  width: 100%;
  height: 6em;
  padding: 0;
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #EEBB39;
  border-bottom: 2px black solid;
  z-index: 999;
}

.menu .logo-container {
  height: 100%;
  width: auto;
}

.menu .logo-container img {
  width: auto;
  height: 80%;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 32em;
  height: 100%;
  padding-left: 1em;
  margin: 0;
}

.menu ul li {
  width: auto;
  list-style: none;
  margin: auto;
  -webkit-transition: linear 200ms;
  transition: linear 200ms;
}

.menu ul li:hover {
  padding-bottom: 0.3em;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .menu ul li a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .menu ul li a {
    font-size: 1.2rem;
  }
}

.menu .burgerek {
  background-color: #EEBB39;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  min-width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  z-index: 99;
  border-bottom: black 2px solid;
}

.menu .burgerek li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  color: white;
}

.menu .burgerek li a {
  color: white;
}

.menu .display_off {
  position: fixed;
  left: 0;
  top: -100%;
}

.menu .display_in {
  position: fixed;
  left: 0;
  top: 0;
}

.menu .burger {
  width: 4em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  margin-left: 1em;
}

.menu .burger span {
  display: block;
  position: relative;
  width: 55%;
  height: 3px;
  background-color: black;
}

.menu .burger span::before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 3px;
  background-color: black;
}

.menu .burger span::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 3px;
  background-color: black;
}

.menu .cross {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu .cross span::before {
  opacity: 0;
}

.menu .cross span::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 0;
}

.menu .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 4em;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .menu .cart {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .menu .cart {
    font-size: 1.2rem;
  }
}

.footer {
  width: 100%;
  height: auto;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EEBB39;
  border-top: 2px black solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 6em;
}

.footer p {
  margin: 0.5em 0;
}

@media only screen and (max-width: 900px) {
  .footer p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 900px) {
  .footer p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 901px) {
  .menu .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu .cart {
    margin-right: 1em;
  }
}

@media only screen and (min-width: 901px) {
  .menu .logo-container {
    position: relative;
    height: 100%;
  }
  .menu .logo-container img {
    position: absolute;
    bottom: -4.5em;
    height: 9em;
  }
  .menu .cart {
    margin-right: 2em;
  }
}

.image_test {
  height: auto;
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: calc(100vh - 11.6em);
}

.image_test div {
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.image_test div span {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #EEBB39;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

.image_test .hide {
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
}

.social-media img {
  width: auto;
}

.social-media img:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  cursor: pointer;
}

.social-media-and-description {
  position: relative;
}

.social-media-and-description .description h1 {
  margin: 1rem 0;
  max-width: 20em;
}

@media only screen and (max-width: 900px) {
  .social-media-and-description .description h1 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 900px) {
  .social-media-and-description .description h1 {
    font-size: 2.6rem;
  }
}

.social-media-and-description .description h2 {
  font-weight: 500;
  margin: 0 0 2rem 0;
  max-width: 30em;
}

@media only screen and (max-width: 900px) {
  .social-media-and-description .description h2 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .social-media-and-description .description h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 901px) {
  .social-media-and-description {
    width: 80%;
    margin: 2em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .social-media {
    margin-top: 3rem;
    position: absolute;
    top: 100%;
  }
  .social-media img {
    height: 1.8em;
    margin-bottom: 0.8em;
  }
  .home_offers {
    display: none;
  }
  .mobile_bg_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex;
        -ms-flex-pack: flex;
            justify-content: flex;
    margin-top: 5em;
  }
  .mobile_bg_container img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 901px) {
  .clip {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    background-color: #eebb391a;
    position: absolute;
    width: 20em;
    height: 20em;
    position: absolute;
    z-index: -5;
  }
  .clippy1 {
    left: 20%;
    top: 30%;
  }
  .clippy2 {
    right: 10%;
    top: 50%;
  }
  .social-media-and-description {
    margin: 5em auto 5em 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .social-media img {
    height: 2em;
    margin-bottom: 1em;
  }
  .home_offers {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_offers .offer_in_homepage:nth-child(odd) {
    margin-left: auto;
  }
  .home_offers .offer_in_homepage:nth-child(even) {
    margin-right: auto;
  }
  .offer_in_homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10rem;
  }
  .offer_in_homepage .image_holder {
    max-width: 22rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .offer_in_homepage .image_holder img {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
            box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
  }
  .offer_in_homepage .image_holder::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #EEBB39;
    z-index: -4;
  }
  .offer_in_homepage p {
    padding: 1em;
    max-width: 15em;
    font-weight: 600;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
  }
  .offer_in_homepage p span {
    height: 100%;
    width: 4em;
    display: block;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: -1;
  }
  .offer_in_homepage:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .offer_in_homepage:nth-child(odd) .image_holder::before {
    right: 30%;
    top: -10%;
  }
  .offer_in_homepage:nth-child(odd) .image_holder img {
    -webkit-box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
            box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
  }
  .offer_in_homepage:nth-child(odd) p {
    margin-right: 1em;
    text-align: right;
  }
  .offer_in_homepage:nth-child(odd) p span {
    right: 0;
  }
  .offer_in_homepage:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offer_in_homepage:nth-child(even) .image_holder::before {
    left: 30%;
    top: -10%;
  }
  .offer_in_homepage:nth-child(even) .image_holder img {
    -webkit-box-shadow: -22px 22px 5px -10px rgba(0, 0, 0, 0.336);
            box-shadow: -22px 22px 5px -10px rgba(0, 0, 0, 0.336);
  }
  .offer_in_homepage:nth-child(even) p {
    margin-left: 1em;
  }
  .offer_in_homepage:nth-child(even) p span {
    left: 0;
  }
  .mobile_bg_container {
    display: none;
  }
}

@media only screen and (min-width: 1401px) {
  .social-media-and-description {
    margin: 8em auto 8em 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .home_offers {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer_in_homepage {
    margin-bottom: 10rem;
  }
  .offer_in_homepage .image_holder {
    max-width: 30rem;
  }
  .offer_in_homepage p {
    padding: 1.5em;
  }
  .offer_in_homepage p span {
    width: 5.5em;
  }
}

.custom_select {
  position: relative;
}

.custom_select .category_plate {
  margin: 0;
  padding: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  border: 2px black solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background-color: white;
}

.custom_select .category_plate::after {
  content: "";
  background-color: #EEBB39;
  width: 100%;
  height: 100%;
  top: -7px;
  left: -7px;
  position: absolute;
  z-index: -1;
}

.custom_select .category_plate i {
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.custom_select .category_plate i.true {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom_select div {
  position: absolute;
  width: 16em;
  overflow-y: scroll;
  display: none;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  max-height: 0;
  display: block;
  z-index: 888;
  border: #f1f1f1 2px solid;
  border-right: none;
}

.custom_select div label {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding: 1em;
  background-color: white;
}

.custom_select div label:hover {
  background-color: #fffbc3;
}

.custom_select div label input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  margin: 0;
}

.custom_select div.true {
  max-height: 300px;
  opacity: 1;
  overflow-y: scroll;
}

.custom_select div.true::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

.custom_select div.true::-webkit-scrollbar-thumb {
  background-color: #EEBB39;
}

.custom_select div.true::-webkit-scrollbar-track {
  background: #f1f1f1;
}

@media only screen and (max-width: 901px) {
  .category_plate_options {
    margin-top: 4rem;
  }
  .category_plate_options label {
    min-height: 2em;
  }
  .category_plate {
    width: 8em;
    height: 2.5em;
  }
  .category_font {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 901px) {
  .category_plate_options {
    margin-top: 5rem;
  }
  .category_plate_options label {
    min-height: 2em;
  }
  .category_plate {
    width: 11em;
    height: 3em;
  }
  .category_font {
    font-size: 1.2rem;
  }
}

.offers_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: calc(100vh - 11.6em);
  max-width: 80%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.offers_container .offers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2em;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.offers_container .offers div {
  border: black 2px solid;
}

.offers_container .offers div span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers_container .offers div span span div {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #EEBB39;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

.offers_container .offers div span span.true {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 12em;
  background-color: white;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  opacity: 1;
}

.offers_container .offers div span span.false {
  opacity: 0;
  display: none;
}

.offers_container .offers div span img {
  max-width: 100%;
  min-width: 100%;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.offers_container .offers div span img.true {
  opacity: 0;
  height: 12em;
}

.offers_container .offers div span img.false {
  opacity: 1;
  height: auto;
}

.offers_container .offers div .product_name_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: black 2px solid;
  background-color: white;
}

.offers_container .offers div .product_name_price p:nth-child(1) {
  margin-bottom: 0;
  font-weight: 600;
}

@media only screen and (max-width: 900px) {
  .offers_container .offers div .product_name_price p:nth-child(1) {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .offers_container .offers div .product_name_price p:nth-child(1) {
    font-size: 1.2rem;
  }
}

.offers_container .offers div .product_name_price p:nth-child(2) {
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .offers_container .offers div .product_name_price p:nth-child(2) {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 900px) {
  .offers_container .offers div .product_name_price p:nth-child(2) {
    font-size: 1rem;
  }
}

.offers_container .offers .spinner {
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
}

.offers_container .offers .spinner span {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #EEBB39;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.message_buton_wrapper {
  position: fixed;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  left: 20px;
  bottom: 2em;
  right: 2em;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.message_buton_wrapper.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ornament {
  position: fixed;
  background-image: url("../images/backgr.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100%;
  z-index: -5;
  opacity: 0.3;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 901px) {
  .offers_container .category_button {
    margin: 3em 0;
  }
  .offers {
    margin-bottom: 3em;
  }
  .ornament {
    width: 20em;
    height: 20em;
    right: -6em;
  }
}

@media only screen and (min-width: 901px) {
  .offers_container .category_button {
    margin: 6em 0;
  }
  .offers {
    margin-bottom: 6em;
  }
  .ornament {
    width: 30em;
    height: 30em;
    right: -7em;
  }
}

.contact_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 12em);
  max-width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.contact_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contact_container form p {
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .contact_container form p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .contact_container form p {
    font-size: 1.2rem;
  }
}

.contact_container form p label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact_container form p label textarea {
  resize: none;
}

.contact_container .policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
  .contact_container .policy p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 900px) {
  .contact_container .policy p {
    font-size: 1rem;
  }
}

.contact_container .policy input {
  width: 2em;
  height: 2em;
}

@media only screen and (max-width: 901px) {
  .contact_container form {
    margin: 3em 0 0 0;
  }
  .contact_container form p {
    width: 100%;
  }
  .contact_container form p * {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contact_container form .paragraph:nth-child(1) {
    margin-bottom: 2em;
  }
  .contact_container form .paragraph:nth-child(1) label input {
    height: 3em;
  }
  .contact_container form .paragraph:nth-child(2) label textarea {
    height: 15em;
  }
  .contact_container form div {
    margin: 3em 0;
  }
  .contact_container form .policy .paragraph {
    margin-bottom: 0;
    text-align: left;
    padding-right: 1em;
    margin: 0;
  }
}

@media only screen and (min-width: 901px) {
  .contact_container form {
    margin: 6em 0 0 0;
  }
  .contact_container form div {
    margin: 6em 0;
  }
}
/*# sourceMappingURL=main.css.map */