body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 100%;
}

#root {
  height: 100%;
}

.view {
  height: auto;
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App {
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  width: 100%;
  height: 6em;
  padding: 0;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #EEBB39;
  border-bottom: 2px black solid;
  z-index: 999;
}

.menu .logo-container {
  height: 100%;
  width: auto;
}

.menu .logo-container img {
  width: auto;
  height: 80%;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 32em;
  height: 100%;
  padding-left: 1em;
  margin: 0;
}

.menu ul li {
  width: auto;
  list-style: none;
  margin: auto;
  -webkit-transition: linear 200ms;
  transition: linear 200ms;
}

.menu ul li:hover {
  padding-bottom: 0.3em;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .menu ul li a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .menu ul li a {
    font-size: 1.2rem;
  }
}

.menu .burgerek {
  background-color: #000000;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  min-width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  z-index: 99;
}

.menu .burgerek li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  color: white;
}

.menu .burgerek li a {
  color: white;
}

.menu .display_off {
  position: fixed;
  left: -100%;
  top: 0;
}

.menu .display_in {
  position: fixed;
  left: 0;
  top: 0;
}

.menu .burger {
  width: 4em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  margin-left: 1em;
}

.menu .burger span {
  display: block;
  position: relative;
  width: 55%;
  height: 3px;
  background-color: black;
}

.menu .burger span::before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 3px;
  background-color: black;
}

.menu .burger span::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 3px;
  background-color: black;
}

.menu .cross {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu .cross span::before {
  opacity: 0;
}

.menu .cross span::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 0;
}

.menu .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 4em;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .menu .cart {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .menu .cart {
    font-size: 1.2rem;
  }
}

.footer {
  width: 100%;
  height: auto;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EEBB39;
  border-top: 2px black solid;
}

.footer p {
  margin: 0.5em 0;
}

@media only screen and (max-width: 900px) {
  .footer p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 900px) {
  .footer p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 901px) {
  .menu .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu .cart {
    margin-right: 1em;
  }
}

@media only screen and (min-width: 901px) {
  .menu .logo-container {
    position: relative;
    height: 100%;
  }
  .menu .logo-container img {
    position: absolute;
    bottom: -4.5em;
    height: 9em;
  }
  .menu .cart {
    margin-right: 2em;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
}

.social-media img {
  width: auto;
}

.social-media img:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  cursor: pointer;
}

.social-media-and-description {
  position: relative;
}

.social-media-and-description .description h1 {
  margin: 1rem 0;
  max-width: 20em;
}

@media only screen and (max-width: 900px) {
  .social-media-and-description .description h1 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 900px) {
  .social-media-and-description .description h1 {
    font-size: 2.6rem;
  }
}

.social-media-and-description .description h2 {
  font-weight: 500;
  margin: 0 0 2rem 0;
  max-width: 30em;
}

@media only screen and (max-width: 900px) {
  .social-media-and-description .description h2 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .social-media-and-description .description h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 901px) {
  .social-media-and-description {
    width: 80%;
    margin: 2em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .social-media {
    margin-top: 3rem;
    position: absolute;
    top: 100%;
  }
  .social-media img {
    height: 1.8em;
    margin-bottom: 0.8em;
  }
  .home_offers {
    display: none;
  }
  .mobile_bg_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex;
        -ms-flex-pack: flex;
            justify-content: flex;
    margin-top: 5em;
  }
  .mobile_bg_container img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 901px) {
  .clip {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    background-color: #eebb391a;
    position: absolute;
    width: 20em;
    height: 20em;
    position: absolute;
    z-index: -5;
  }
  .clippy1 {
    left: 20%;
    top: 50%;
  }
  .clippy2 {
    right: 10%;
    top: 130%;
  }
  .social-media-and-description {
    margin: 5em auto 5em 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .social-media img {
    height: 2em;
    margin-bottom: 1em;
  }
  .home_offers {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_offers .offer_in_homepage:nth-child(odd) {
    margin-left: auto;
  }
  .home_offers .offer_in_homepage:nth-child(even) {
    margin-right: auto;
  }
  .offer_in_homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10rem;
  }
  .offer_in_homepage .image_holder {
    max-width: 22rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .offer_in_homepage .image_holder img {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
            box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
  }
  .offer_in_homepage .image_holder::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #EEBB39;
    z-index: -4;
  }
  .offer_in_homepage p {
    padding: 1em;
    max-width: 15em;
    font-weight: 600;
    font-size: 1.6rem;
    position: relative;
    z-index: 1;
  }
  .offer_in_homepage p span {
    height: 100%;
    width: 3.3em;
    display: block;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: -1;
  }
  .offer_in_homepage:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .offer_in_homepage:nth-child(odd) .image_holder::before {
    right: 30%;
    top: -10%;
  }
  .offer_in_homepage:nth-child(odd) .image_holder img {
    -webkit-box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
            box-shadow: 22px 22px 5px -10px rgba(0, 0, 0, 0.336);
  }
  .offer_in_homepage:nth-child(odd) p {
    margin-right: 1em;
    text-align: right;
  }
  .offer_in_homepage:nth-child(odd) p span {
    right: 0;
  }
  .offer_in_homepage:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offer_in_homepage:nth-child(even) .image_holder::before {
    left: 30%;
    top: -10%;
  }
  .offer_in_homepage:nth-child(even) .image_holder img {
    -webkit-box-shadow: -22px 22px 5px -10px rgba(0, 0, 0, 0.336);
            box-shadow: -22px 22px 5px -10px rgba(0, 0, 0, 0.336);
  }
  .offer_in_homepage:nth-child(even) p {
    margin-left: 1em;
  }
  .offer_in_homepage:nth-child(even) p span {
    left: 0;
  }
  .mobile_bg_container {
    display: none;
  }
}

@media only screen and (min-width: 1401px) {
  .social-media-and-description {
    margin: 8em auto 8em 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .home_offers {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer_in_homepage {
    margin-bottom: 10rem;
  }
  .offer_in_homepage .image_holder {
    max-width: 30rem;
  }
  .offer_in_homepage p {
    padding: 1.5em;
  }
  .offer_in_homepage p span {
    width: 4.7em;
  }
}

.offers_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.offers_container form {
  position: relative;
}

.offers_container form .category_plate {
  margin: 0;
  padding: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  border: 2px black solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background-color: white;
}

.offers_container form .category_plate::after {
  content: "";
  background-color: #EEBB39;
  width: 100%;
  height: 100%;
  top: -7px;
  left: -7px;
  position: absolute;
  z-index: -1;
}

.offers_container form .category_plate i {
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.offers_container form .category_plate i.true {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.offers_container form div {
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  display: none;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  max-height: 0;
  display: block;
}

.offers_container form div label {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding: 1em;
  background-color: white;
}

.offers_container form div label:hover {
  background-color: rgba(160, 150, 14, 0.158);
}

.offers_container form div label input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  margin: 0;
}

.offers_container form div.true {
  max-height: 300px;
  opacity: 1;
  overflow-y: scroll;
}

.offers_container form div.true::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.offers_container form div.true::-webkit-scrollbar-thumb {
  background-color: #EEBB39;
}

@media only screen and (max-width: 901px) {
  .category_plate_options {
    margin-top: 3rem;
  }
  .category_plate_options label {
    min-height: 2em;
  }
  .category_plate {
    width: 9em;
    height: 3em;
  }
  .category_font {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 901px) {
  .category_plate_options {
    margin-top: 4rem;
  }
  .category_plate_options label {
    min-height: 2em;
  }
  .category_plate {
    width: 12em;
    height: 4em;
  }
  .category_font {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */